<?php

require_once $_SERVER['SYMFONY'].'/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'       => $_SERVER['SYMFONY'],
    'Knp\\Snappy'   => $_SERVER['SNAPPY'],
));
$loader->register();

spl_autoload_register(function($class) {
    if (0 === strpos($class, 'Knp\\Bundle\\SnappyBundle\\')) {
        require_once __DIR__.'/../'.implode('/', array_slice(explode('\\', $class), 3)).'.php';
        return true;
    }
});
